<div [class]="showCopiedToast ? (themeSwitcher.isLightTheme ? 'show-copied-light' : 'show-copied-dark') : ''">
    <h5>{{title}}<span *ngIf="description">&nbsp;<span class="description">{{description}}<span *ngIf="hiddenText" class="hidden">&nbsp;{{hiddenText}}</span></span></span></h5>
    <div class="input-group">
        <textarea class="form-control readonly-textarea" [readOnly]="true" [value]="text"></textarea>
        <button class="btn btn-outline-secondary copy-button" (click)="copyToClipboard()" [disabled]="showCopiedToast">{{copyButtonText}}</button>
    </div>
</div> 