.readonly-textarea {
    color: var(--front);
    background-color: var(--back-mid);
}
.readonly-textarea:focus {
    outline: none;
    background-color: var(--back-mid);
}

.description {
    color: var(--front-low);
    font-size: medium;
    font-style: italic;
}

.hidden {
    color: rgba(0, 0, 0, 0);
    font-size: small;
}

.copy-button {
    transition: 0.3s;
}

.show-copied-dark {
    .copy-button {
        color: #00ff00;
        background-color: #002000;
        border-color: #00ff00;
    
        transition: 0.2s;
    }
}

.show-copied-light {
    .copy-button {
        color: #002000;
        background-color: #00ff00;
        border-color: #002000;
    
        transition: 0.2s;
    }
}