<h5>Input Text</h5>
<div class="input-group">
  <textarea class="form-control" aria-label="Text" [(ngModel)]="text" (ngModelChange)="textUpdated()"></textarea>
</div>

<span class="badge bg-primary">Characters: {{textLength}}</span>
<span class="badge bg-primary">Words: {{textWords}}</span>
<span class="badge bg-primary">Lines: {{textLines}}</span>
<span class="badge bg-primary">Sentences: {{textSentences}}</span>
<span class="badge bg-primary">Paragraphs: {{textParagraphs}}</span>
<br class="mb-4" />
<app-output-textarea [title]="'Reverse'" [text]="textReverse" />
<app-output-textarea [title]="'MarkDown Escape'" [text]="textEscapeMarkdown" [description]="'Avoid MarkDown formatting for places such as Discord'" />
<div class="mb-2"></div>

<div class="card card-body">
  <button type="button" class="btn btn-outline-primary" aria-controls="caseCollaple" (click)="collapseCases = !collapseCases;">
    Text Case
  </button>

  <div [ngbCollapse]="collapseCases" id="caseCollaple">
    <div class="mb-2"></div>

    <app-output-textarea [title]="'Upper-case'" [text]="textUppercase" />
    <app-output-textarea [title]="'Lower-case'" [text]="textLowercase" />
    <app-output-textarea [title]="'Title-case'" [text]="textTitlecase" [description]="'Capitalize the start of every word'" />
    <app-output-textarea [title]="'Swap-case'" [text]="textSwapcase" [description]="'Upper-case to lower-case, lower-case to upper-case'" />
    <app-output-textarea [title]="'Alternating-case'" [text]="textAlternatingcase" [description]="'Alternate between lower-case and upper-case'" />
    <app-output-textarea [title]="'Mock-case'" [text]="textMockcase" [description]="'Like alternating-case but with some formatting'" [hiddenText]="'(to absolutely mentally destroy your opponents)'" />
  </div>
</div>
